<!--This file will render the home page for the application. When the user is logged in it will allow the user to select an "selections group" and then pick an application that has been assigned to that group.-->

<div class="container">
<script>
    //Variable containing the applicants in each group
    var applicantList = {0};
    //Update Applicants when the group changes to only show applicants in that group
    function updateApplicants() {{
        var group = document.getElementById("group").value;
        document.getElementById("applicant").innerHTML = applicantList[group];
    }}
    
    window.onload = function()
    {{
        updateApplicants();
     }};
</script> 
<h3>Select Application Group</h3>
<select class="form-control" style="max-width: 200px;" id="group" onchange="updateApplicants()"> 
    {1}
</select>

<h3>Select Application</h3>
<select class="form-control" style="max-width: 200px;" id="applicant">
</select>
</div>
          
